<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Jugar", "Index", "Home")</li>
                    </ul>

                </div>

            </div>
        </div>*@

    <h1 class="title" style="font-weight: 600">WORDLE</h1>

    <div class="container body-content">
        @RenderBody()

        <footer style="position: fixed; bottom: 0">
            <hr />
            <p>&copy; @DateTime.Now.Year - Metodologias Agiles - UTN FRRO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .title{
        top: 15px;
        position: fixed;
        text-align: center;
        width: 100%;
        padding: 0
    }

    .main-title {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        text-shadow: 0 0 10px #005276, 0 0 30px #005276;
        justify-content: center;
    }

    .main-title:before {
        content: attr(data-text);
        position: absolute;
        bottom: 0px;
        pointer-events: none;
        z-index: 1;
        font-size: 0.35em;
        color: #00B2FF;
        font-weight: 800;
        letter-spacing: 4px;
        opacity: 0;
        transition: 0.3s;
        text-shadow: 0 0 10px #00B2FF, 0 0 30px #00B2FF, 0 0 80px #00B2FF;
    }

    .nav navbar-nav {
        border: 3px solid #d3d6da;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button {
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: din-round, sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: .8px;
        line-height: 20px;
        /*margin: 15px 0 0 0;*/
        outline: none;
        overflow: visible;
        padding: 13px 16px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        transform: translateZ(0);
        transition: filter .2s;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        transition: transform .5s;
    }

    .button:after {
        background-clip: padding-box;
        border: solid transparent;
        border-radius: var(--border-radius);
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .button:hover {
        transform: scale(.95);
    }

 </style>
