<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Game", "Game", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li><h1 class="main-title" data-text="DINAMIC">WORDLE</h1></li>

                </ul>

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Metodologias Agiles - UTN FRRO</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .main-title {
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        text-shadow: 0 0 10px #005276, 0 0 30px #005276;
        justify-content: center;
    }

    .main-title:hover {
        color: floralwhite;
        transform: translateY(-10px);
    }

    .main-title:before {
        content: attr(data-text);
        position: absolute;
        bottom: 0px;
        pointer-events: none;
        z-index: 1;
        font-size: 0.35em;
        color: #00B2FF;
        font-weight: 800;
        letter-spacing: 4px;
        opacity: 0;
        transition: 0.3s;
        text-shadow: 0 0 10px #00B2FF, 0 0 30px #00B2FF, 0 0 80px #00B2FF;
    }

    .main-title:hover:before {
        letter-spacing: 2px;
        opacity: 1;
    }

    .nav navbar-nav {
        border: 3px solid #d3d6da;
        border-radius: var(--border-radius);
        width: 55px;
        height: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

 </style>
